@import '../../styles/colors.scss';

.complete{
    padding: 4% 10%;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img{
        margin-bottom: 5%;
    }   

    p{
        width: 70%;
        text-align: center;
        color: $secondary-color;
    }
}